# Python Basic

1. Variables and Data Types:

Write a program to swap two variables without using a third variable0

In [ ]:
a = int(input("Enter first variable: "))
b = int(input("Enter second variable: "))

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("First variable is: ", a)
print("Second variable is: ", b)

Enter first variable: 5
Enter second variable: 3
After swapping:
First variable is:  3
Second variable is:  5

In [ ]:
a = "Hello Alok"
b = "Hii Alok"

a = a + b
b = a[0:len(a) - len(b)]
a = a[len(b):]

print("After swapping:")
print("First variable is: ", a)
print("Second variable is: ", b)

After swapping:
First variable is:  Hii Alok
Second variable is:  Hello Alok

2. Input and Output:

Take a user’s name and age as input and print a message like:

`"Hello [Name], you will turn 100 years old in [Year]."`

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

year = 100 - age + 2025

print("Hello " + name + ", you will turn 100 years old in " + str(year) + ".")

Enter your name:Alok
Enter your age:20
Hello Alok, you will turn 100 years old in 2105.

3. Conditional Statements:

Write a program to check if a number is positive, negative, or zero.

In [ ]:
def check_number(num):
  if num > 0:
    return "Positive"
  elif num < 0:
    return "Negative"
  else:
    return "Zero"

num = float(input("Enter Number: "))
num = check_number(num)
print("The Number is: ",num)

Enter Number: 0
The Number is:  Zero

4. Loops:

Print all the numbers from 1 to 50 that are divisible by both 3 and 5.

In [ ]:
def print_num():
  for i in range(1,51):
    print(i)
# print_num()

In [ ]:
def devision():
  result = []
  for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
      result.append(i)
  return result

output = devision()
print(output)

[15, 30, 45]

5. String Manipulation:

Take a string input from the user and check if it’s a palindrome (same forwards and backwards).

In [ ]:
def is_palindrome(input):
  input = input.lower().replace(" ", "")
  return input == input[::-1]

user = input("Enter Input: ")

if is_palindrome(user):
  print("It's Palindrome!")
else:
  print("It's not palindrome")

Enter Input: A man a plan a canal Panama
It's Palindrome!

6. Basic Operations:

Write a program to find the second largest number in a list.

In [ ]:
def second_largest(nums):
  nums = list(set(nums))
  nums.sort()
  if len(nums) < 2:
    print("No Second Largest Number")
  else:
    return nums[-2]

num_list = [1,2,8,9,7]
print("Second Largest number: ", second_largest(num_list))

Second Largest number:  8

In [ ]:
def second_largest(nums):
  largest = max(nums)
  second = None

  for num in nums:
    if num != largest:
      if second is None or num > second:
        second = num

  if second is None:
    return "Second Largest Number Not Found"
  else:
    return second

nums = [1,2,8,9,7]
print("Second Largest number: ", second_largest(nums))

Second Largest number:  8

7. List Comprehension:

Create a list of all even numbers from 1 to 100 using list comprehension.

In [ ]:
# def even_num():
#   result = []
#   for i in range(1,101):
#     if i % 2 == 0:
#       result.append(i)
#   return result

def even_num():
  return [ i for i in range(1,101) if i%2 == 0]
output = even_num()
print(output)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

8. Sorting and Searching:

Write a program to sort a list of strings alphabetically and search for a specific string in the list.

In [ ]:
def sort_and_search(string,target):
  string.sort()
  print("Sorted List: ", string)

  if target in string:
    print(f"'{target}' found at index {string.index(target)}")
  else:
    print(f"'{target}' not found in the list.")

data = ["banana", "apple", "orange", "grape", "mango"]
search = input("Enter Search word: ")

sort_and_search(data, search.lower())

Enter Search word: orange
Sorted List:  ['apple', 'banana', 'grape', 'mango', 'orange']
'orange' found at index 4

9. Removing Duplicates:

Remove duplicates from a list without using the set() function.

In [ ]:
def remove_duplicates(data):
  unique_list = []
  for num in data:
    if num not in unique_list:
      unique_list.append(num)
  return unique_list

data = [1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,0,1]
result = remove_duplicates(data)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0]

10. Tuple Creation:

Create a tuple with 5 integers. Calculate and print the sum, maximum, and minimum values.

In [ ]:
numbers = (10, 25, 5, 40, 15)

print("Tuple:", numbers)
print("Sum:", sum(numbers))
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Tuple: (10, 25, 5, 40, 15)
Sum: 95
Maximum: 40
Minimum: 5

11. Tuple to List:

Convert a tuple into a list, modify the list by adding a new element, and convert it back to a tuple.

In [ ]:
tuplee = (1,2,3,4)
print(tuplee)
listt = list(tuplee)
listt.append(5)

back_tuple = tuple(listt)
print(back_tuple)

(1, 2, 3, 4)
(1, 2, 3, 4, 5)

12. Basic Operations:

Write a program to count the frequency of each word in a given string using a dictionary.

In [12]:
def count_frequecy(text):
  words = text.lower().split()
  freq = {}

  for word in words:
    if word in freq:
      freq[word] += 1
    else:
      freq[word] = 1
  return freq

input_text = "This is a test. This test is only a test."

# Optional: Remove punctuation (basic)
import string
input_text = input_text.translate(str.maketrans('', '', string.punctuation))

result = count_frequecy(input_text)
print(result)

{'this': 2, 'is': 2, 'a': 2, 'test': 3, 'only': 1}

In [ ]:
# Table
def table(n,x,y):
  for i in range(1):
    count = n*y
    print(count)
    if x>1:
      table(n=n+1,x=x-1,y=y)

table(1,10,5)

13. Nested Dictionaries:

Create a nested dictionary to store student names and their respective scores in three subjects. Print the student with the highest total score.

In [14]:
students = {
    "Alok": {"Math": 85, "Science": 90, "English": 80},
    "Riya": {"Math": 95, "Science": 88, "English": 92},
    "Amit": {"Math": 78, "Science": 83, "English": 85}
}

highest_score = 0
topper = ""

for name, scores, in students.items():
  total = sum(scores.values())
  print(f"{name}'s total score is {total}")
  if total > highest_score:
    highest_score = total
    topper = name

print(f"{topper}'s Topper with {highest_score} marks")

Alok's total score is 255
Riya's total score is 275
Amit's total score is 246
Riya's Topper with 275 marks

14. Dictionary Updates:

Given a dictionary of employee names and salaries, update the salary of a specific employee based on user input.

In [16]:
employees = {
    "Alok": 50000,
    "Riya": 60000,
    "Amit": 55000
}

name = input("Enter Employees Name: ")
new_salary = int(input(f"Enter Updated Salary of {name}: "))

if name in employees:
  employees[name] = new_salary
  print(f"Salary updated for {name}.")
else:
  print(f"Employee {name} Not Found")


print(f"Updated Employee Data:", employees)

Enter Employees Name: Alok
Enter Updated Salary of Alok: 25000
Salary updated for Alok.
Updated Employee Data: {'Alok': 25000, 'Riya': 60000, 'Amit': 55000}

15. Set Operations:

Write a program to find the union, intersection, and difference of two sets:

`set1 = {1, 2, 3, 4, 5}`

`set2 = {4, 5, 6, 7, 8}`

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2
intersection_set = set1 & set2
defference_set = set1 - set2

print("Union: ", union_set)
print("Intersection: ", intersection_set)
print("Difference: ", defference_set)

Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Difference:  {1, 2, 3}